*.ncrunchproject

*.ncrunchsolution
*.suo
*.user
*.cache
_NCrunch_BeautifulBlueprints
_ReSharper.BeautifulBlueprints
packages

BeautifulBlueprints/bin
BeautifulBlueprints/obj

BeautifulBlueprints.Test/bin
BeautifulBlueprints.Test/obj

